
*{
    box-sizing: border-box;
}

img{
    max-width: 60%;
    margin-left: 18%;
}

.left{
    padding: 5px;
}

.cardPad {
    padding-bottom: 15px;
    padding-top: 15px;
    /* background-color: #17408B; */
}

.cardCss{
    background-color: #17408B;
    color: white;
}

.jumbo{
    background-color: black;
    color: white;
    /* text-align: center; */
}

.center{
    text-align: center;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#teamLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}